In [1]:
import pandas as pd
import numpy as np

In [2]:
file = "/Users/mini/d3js_projects/project02-nba-scoring/2018_19_game_pts_data.csv"
df = pd.read_csv(file)

In [3]:
df.head()

   Unnamed: 0               team_name        date  points
0           0   Golden State Warriors  2018-10-16     108
1           1   Oklahoma City Thunder  2018-10-16     100
2           2      Philadelphia 76ers  2018-10-16      87
3           3          Boston Celtics  2018-10-16     105
4           4  Minnesota Timberwolves  2018-10-17     108

In [6]:
df_celts = df[df.team_name == "Boston Celtics"]
df_celts.head()

     Unnamed: 0       team_name        date  points
3             3  Boston Celtics  2018-10-16     105
44           44  Boston Celtics  2018-10-19     101
56           56  Boston Celtics  2018-10-20     103
83           83  Boston Celtics  2018-10-22      90
131         131  Boston Celtics  2018-10-25     101

In [7]:
celts_filename = "2018_19_celtics_pts_data.csv"
df_celts.to_csv(celts_filename)

In [10]:
df.team_name.unique()

array(['Golden State Warriors', 'Oklahoma City Thunder',
       'Philadelphia 76ers', 'Boston Celtics', 'Minnesota Timberwolves',
       'San Antonio Spurs', 'Atlanta Hawks', 'New York Knicks',
       'Phoenix Suns', 'Dallas Mavericks', 'New Orleans Pelicans',
       'Houston Rockets', 'Miami Heat', 'Orlando Magic', 'Denver Nuggets',
       'LA Clippers', 'Brooklyn Nets', 'Detroit Pistons',
       'Indiana Pacers', 'Memphis Grizzlies', 'Sacramento Kings',
       'Utah Jazz', 'Milwaukee Bucks', 'Charlotte Hornets',
       'Toronto Raptors', 'Cleveland Cavaliers', 'Chicago Bulls',
       'Portland Trail Blazers', 'Los Angeles Lakers',
       'Washington Wizards'], dtype=object)